ul {
  -webkit-padding-start: 0;
}
.wrapper {
  overflow: hidden;
  text-align: center;
}

.title {
  background: #03A9F4;
  margin: 32px;
  padding: 32px;
  color: #f8f8f8;
}

.ultodo {
  display: block;
  position: relative;
}

.list-item {
  margin: 32px;
  display: block;
}

.list-span {
  position: relative;
  margin: 2px 0 0 24px;
  padding: 2px 12px;
  cursor: pointer;
}

.list-span:hover {
  color: #f8f8f8;
  background: #C62828;
}
